header {
    background: #fff;
    display: block;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999999;
    div.header {
        display: flex;
        flex-direction: row;
        position: relative;
        padding: 12px 15px;
        min-width: 1009px;
        max-width: 1676px;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-items: center;
        justify-content: center;
        background: #fff;
        margin: 0 auto 0 auto;
    }
}
div.purchase-guide{
    padding-top: 30px;
    
}